<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132209873388-5c1accgalbmpfqh38k5vn6lnnu8tte3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132209873388-5c1accgalbmpfqh38k5vn6lnnu8tte3u</string>
	<key>API_KEY</key>
	<string>AIzaSyD9-2RC55oalGoO0R80sKh8ebL3sXWZIrc</string>
	<key>GCM_SENDER_ID</key>
	<string>132209873388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verumFlutter</string>
	<key>PROJECT_ID</key>
	<string>verum-4bd2b</string>
	<key>STORAGE_BUCKET</key>
	<string>verum-4bd2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132209873388:ios:4383eda1edc305f759b0c9</string>
</dict>
</plist>